.content {
	background: url(./resources/texture.jpg); /* text.jpg */
	background-size: cover;
	margin-top: 0px;
	height: 130px;
}

#logo {
	float: left;
	margin: 25px 20px;
}

#controls {
	margin: 0px;
	float: right;
	width: 70px;
	height: 130px;
}

#controls button#go {
	background: #FFF;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	opacity: 0.9;
	transition: 0.05s all;
	width: 40px;
	height: 40px;
	margin: 48px 0 0 0;
}

#controls button#go i {
	font-size: 14pt;
}

#controls button#go i.fa-play {
	position: relative;
	left: 2px;
}


#controls button#go:hover {
	opacity: 1;
}

#controls button#go:active {
	background-color: #CCC;
}