@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Montserrat:500,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.content {
	font-family: "Josefin Sans", "Helvetica Neue", "Arial", "Verdana", sans-serif;
	background: #000;
}

ons-toolbar {
	background: #222;
	color: #999;
	height: 50px;
}

ons-toolbar img {
	opacity: 0.3;
	vertical-align: middle;
	padding: 8px 5px 5px 10px;
}

.navigation-bar__center {
	width: 0px !important;
}

.navigation-bar__right {
	width: auto;
	float: right;
}

a.share, input.share, a.contrast {
	border: none;
	color: #F00;
	float: right;
	background: #000;
	position: relative;
	width: 30px;
	height: 50px;
	cursor: pointer;
	transition: background-color 0.08s;
}
a.share.facebook {
	background: #3C5A9A url(./resources/fb.svg) no-repeat center center;
	background-size: 18px;
}

a.share.facebook:hover {
	background-color: #264380;
}

a.share.twitter {
	background: #4099FF url(./resources/tw.svg) no-repeat center center;
	background-size: 17px;
}

a.share.twitter:hover {
	background-color: #207BE3;
}

a.share.email {
	background: transparent url(./resources/e.svg) no-repeat center center;
	background-size: 15px;
}

a.share.email:hover {
	background-color: #A00;
}

a.share.app {
	background-color: #222;
	text-align: center;
	color: #FFF;
}
a.share.app i {
	position: relative;
	top: 2px;
}
a.share.app:hover {
	background-color: #000;
}

a.share.link {
	float: left;
	width: auto;
	background-position: 10px center;
	padding: 0px 10px 0px 30px;
	line-height: 50px;
	color: #FFF;
	font-size: 10pt;
}

a.share.back {
	color: #999;
	text-align: center;
	background: transparent;
	box-shadow: 0px 1px 0px #000;
	margin-right: 4px;
	float: left;
	line-height: 50px;
}

a.share.back:hover {
	background: #000;
}

.row {
	background: #222;
	color: #FFF;
	display: block;
	font-size: 11pt;
	padding: 12px 10px 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

artwork {
	display: block;
	flex: 1;
}

@media screen and (max-width: 500px) {
	.flexbox {
		display: block;
	}
}